@use 'sass:map';
@use 'sass:color';
@import '../../assets/scss/variables';
#education {
    overflow-x: hidden;
}

.education-list-timeline {
    padding: 1.5em 0;
    padding-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.education-list-timeline::before {
    content: '';
    width: 2px;
    display: flex;
    background-color: rgba(197, 193, 193, 0.623);
    height: 90%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.education-list-item-timeline-img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 17px);
    top: 0;
    @extend .flex-center;
    padding: 5px;
}

.education-list-item-timeline {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 0em;
}

.education-list-item-timeline-card {
    display: flex;
    flex-direction: column;
    width: 47%;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1em;
    margin-left: -50px;
}

.diploma {
    color: black;
    font-weight: bold;
    width: 100%;
    text-align: end;
    margin-bottom: 1em;
}

.school {
    color: $text-plain;
    width: 100%;
    text-align: end;
    margin-bottom: 1em;
}

.grade {
    color: color.adjust($active, $saturation: -30%);
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.description {
    text-align: end;
}

.education-list-item-timeline:nth-child(even) .education-list-item-timeline-card {
    margin-right: -50px;
    align-items: flex-start;
}

.education-list-item-timeline:nth-child(even) .school {
    text-align: start;
}

.education-list-item-timeline:nth-child(even) .diploma {
    text-align: start;
}

.education-list-item-timeline-card-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 0em 0.2em;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.education-list-item-timeline:nth-child(even) {
    justify-content: flex-end;
}

.cap-icon {
    color: white;
}

.education-list-item-timeline:nth-child(1) .education-list-item-timeline-img {
    background-color: rgb(25, 146, 41);
    box-shadow: 2px 2px 2px rgb(12, 117, 26);
}

.education-list-item-timeline:nth-child(2) .education-list-item-timeline-img {
    background-color: rgb(182, 67, 39);
    box-shadow: 2px 2px 2px rgb(145, 49, 26);
}

.education-list-item-timeline:nth-child(3) .education-list-item-timeline-img {
    background-color: rgb(16, 74, 167);
    box-shadow: 2px 2px 2px rgb(18, 69, 150);
}

.education-list-item-timeline-img {
    background-color: color.adjust($active, $saturation: 10%) !important;
    box-shadow: 2px 2px 2px color.adjust($active, $saturation: -10%, $alpha: -0.2) !important;
}

.description {
    text-align: justify;
    color: $text-extra-light;
}

@media screen and (max-width: map.get($breakpoints, "phone")) {
    .education-list-timeline::before {
        left: 1em;
    }
    .education-list-item-timeline-img {
        left: calc(1em - 20px);
    }
    .education-list-item-timeline-card {
        width: 90%;
        align-items: flex-start;
        margin-left: 4em;
    }
    .education-list-item-timeline:nth-child(even) .education-list-item-timeline-card {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .education-list-item-timeline-card {
        margin-right: 0 !important;
        margin-left: 4em;
    }
    .education-list-item-timeline {
        margin-bottom: 1em;
    }
    .school {
        text-align: start;
    }
    .diploma {
        text-align: start;
    }
}

.education-list-item-timeline-card-year {
    color: $text-extra-light;
    padding-top: 1em;
    font-weight: bold;
}

@keyframes zoom-in {
    0% {
        visibility: visible;
        transform: scale(0);
        opacity: 0;
    }
    100% {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}