/*
* BreakPoints
*/

$breakpoints: (phone: 640px, tablet1: 850px, tablet2: 1030px, desktop: 1100px) !default;

/*
* Colors
*/

$active:rgb(224, 50, 50);
$active-hover:rgba(116, 40, 35, 0.842);

/*
* Text-colors
*/

$text-dark:rgba(12, 11, 11, 0.808);
$text-plain: rgb(85, 84, 84);
$text-light: rgb(121, 118, 118);
$text-extra-light: rgb(139, 135, 135);
$text-extra-extra-light: rgb(192, 189, 189);

/*
*   Media Queries
*
*/

@mixin for-phone {
    @media screen and (max-width: map.get($breakpoints, "phone")) {
        @content
    }
}

@mixin for-tablet {
    @media screen and (max-width: map.get($breakpoints, "tablet1")) {
        @content
    }
}

@mixin for-phone {
    @media screen and (max-width: map.get($breakpoints, "tablet2")) {
        @content
    }
}


/*
* Common elements
*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.text-xxl {
    font-size: 4em;
    @include for-phone {
        font-size: 2.5em;
    }
}

.text-xl {
    font-size: 2.5em;
    @include for-phone {
        font-size: 1.7em;
    }
}

.text-l {
    font-size: 1.4em;
    @include for-phone {
        font-size: 1.2em;
    }
}

.text-ml {
    font-size: 1.4em;
    @include for-phone {
        font-size: 1em;
    }
}

.text-m {
    font-size: 1.2em;
    @include for-phone {
        font-size: 1em;
    }
}

.text-s {
    font-size: 1.1em;
    @include for-phone {
        font-size: 0.9em;
    }
}

.text-xs {
    font-size: 0.8em;
    @include for-phone {
        font-size: 0.7em;
    }
}


/*
* Config variables
*/

$nTabs: 2;
$titleSideBarsWidth: 15vw;
$titleSideBarsHeight: 2px;