.header {
    background-color: rgb(2, 10, 26);
    ;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

.navbar-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    align-items: center;
}

.navbar {
    margin-right: auto;
    margin-left: 1em;
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: rgb(2, 10, 26);
    ;
}

.navbar-name {
    margin-left: 1em;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
}

.navbar-item {
    margin-right: 2em;
    color: rgb(184, 184, 184);
}

.navbar-item:hover,
.navbar-name:hover {
    color: white;
    transform: scale(1.1, 1.1);
    transition: transform 0.4s ease-in-out;
}

.navbar-contact-item {
    display: inline-flex;
    align-items: center;
    border: 0;
    padding: 0.4em 1em;
}

.navbar-contact-item:focus {
    outline: none
}

.navbar-contact-item:hover {
    background-color: rgb(2, 10, 26);
    border-radius: 10px;
}

.arrow-icon {
    margin-left: 3px;
    height: 20px;
    width: 20px;
}