@use 'sass:map';
@use 'sass:color';
@import './assets/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body,
html {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}


/*
    Generic elements
*/

.section-container {
    @extend .flex-center;
    position: relative;
}

.section-container:not(:first-of-type) {
    margin-bottom: 6rem;
    margin-top: 3em;
}

.section-subcontainer {
    max-width: 60%;
    margin: auto;
}

.section-container-title {
    @extend .flex-center;
    text-transform: uppercase;
    gap: 1em;
    color: color.adjust($active, $alpha: -0.2);
    margin-bottom: min(30px, 10vh);
}

.section-container-title::after {
    content: '';
    height: $titleSideBarsHeight;
    width: $titleSideBarsWidth;
    background-color: color.adjust($active, $alpha: -0.4);
}

.section-container-title::before {
    content: '';
    height: $titleSideBarsHeight;
    width: $titleSideBarsWidth;
    background-color: color.adjust($active, $alpha: -0.4);
}

.paragraph-link {
    color: $active;
    font-weight: bold;
    text-decoration: none;
}

[animation-name] {
    visibility: hidden;
}

@media screen and (max-width: map.get($breakpoints, "phone")) {
    .section-subcontainer {
        max-width: 90%;
    }
    .section-container:not(:first-of-type) {
        margin-bottom: 5rem;
    }
}